@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  }
  
  .spin-slow {
  animation: spin 3s linear infinite;
  }
  
  @keyframes anti-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
  }
  .anti-spin {
    animation: anti-spin 3s linear infinite;
  }
  .carousel {
    background: #EEE;
  }
  
  .carousel-cell {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
  }
  
  .carousel-cell.is-selected {
    background: #ED2;
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  
